**/*Secrets*
.vscode/tasks.json
ProfileLoadTime-*.csv
MySystemState-*.json
!MySystemState-Example.json
**/*.old
AppState-*.json
!AppState-Example.json
/DOME/Documents/PowerShell/Help
/DOME/Documents/PowerShell/Modules
/DOME/Documents/PowerShell/Scripts
Config/*installed packages.json
